rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Allow read and write access for all users.
    // WARNING: This is for development purposes only.
    // You should secure your database before deploying to production.
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
